$higlight_color_yellow: #f9a422;
$red_button_color: #ee2f2e;
$yellow_button_color: #ffd500;
$text_color_black: #333333;
$text_color_white: #ffffff;
$input_color_black: #4f4f4f;
$background__blue: #124b9b;
