a {
  color: $text_color_black;
  text-decoration: none;
}

// HEADER GUI

.header-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    margin-right: 30px;
  }

  &__text {
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 135%;
  }
}
.header {
  &__info-container {
    margin-left: auto;
    display: flex;
    align-items: center;

    .info-container__contact-container {
      display: flex;
      flex-direction: column;
      align-items: end;
      margin-right: 24px;
    }
  }
}

.phone-link {
  font-size: 21px;
  font-style: normal;
  font-weight: 900;
  line-height: 114%;
  color: $text_color_black;
}

.mail-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
  color: $text_color_black;
}

.call-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 38px;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  color: $text_color_white;
  border-radius: 100px;
  background-color: $red_button_color;
  outline: none;
  border: none;
  cursor: pointer;
}

hr {
  background-color: $higlight_color_yellow;
  border: 0;
  border-top: 1px solid $higlight_color_yellow;
  margin: 16px 0;
  padding: 0;
  width: 100%;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 11px 79px 28px;

  .nav-link {
    color: $text_color_black;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    position: relative;

    &--complex {
      .nav-link__value:after {
        content: url("./assets/images/content/arrow.svg");
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: -25px;
        transition: all 0.3s ease;
      }
      .link-container {
        display: none;
      }

      &:hover {
        .nav-link__value:after {
          transform: rotate(180deg);
        }
        .link-container {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: start;
          width: fit-content;
          background-color: #fff;
          padding: 10px 10px 0;
          border-radius: 16px;
          box-shadow: 0px 4px 25px 0px rgba(18, 75, 155, 0.2);
          .nav-link {
            font-size: 12px;
            text-transform: none;
            white-space: nowrap;
            position: relative;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

// SERVICE GUI

.section-header {
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 133%;
  text-transform: uppercase;
  color: $text_color_black;
  margin-bottom: 20px;
  align-self: center;
}

.colored--yellow {
  color: $higlight_color_yellow;
}

.service-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 15px);
  border-radius: 16px;
  background: $text_color_white;
  box-shadow: 0px 4px 25px 0px rgba(18, 75, 155, 0.2);
  max-height: 256px;
  overflow-y: hidden;
  transition: all 0.3s ease;

  img {
    width: 100%;
    height: auto;
    max-height: 176px;
  }

  &__content {
    padding: 15px 0 33px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 177%;
    text-transform: uppercase;
    margin-bottom: 100px;
  }

  &__controller {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("./assets/images/content/arrow.svg");
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
  }

  &__expanded-content {
    width: 100%;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &:hover {
    cursor: pointer;
    .service-card__controller {
      transform: rotate(180deg);
    }
  }

  &--active {
    max-height: fit-content;
    .service-card__header {
      position: relative;
      margin-bottom: 22px;
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $higlight_color_yellow;
      }
    }
    .service-card__controller {
      display: none;
      transform: rotate(180deg);
    }
  }
}

.list-item {
  display: flex;
  &__bullet {
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    position: relative;
    border-radius: 50%;
    background-color: $higlight_color_yellow;
    margin-right: 12px;
    top: 8px;
  }

  &__content {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $input_color_black;
  }
}

// FORM SECTION

.book-form {
  width: 100%;
  padding: 88px 79px 50px;
  border-radius: 32px;
  background-color: $background__blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 141%;
    text-transform: uppercase;
    color: $text_color_white;
    margin-bottom: 72px;
  }

  &__input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    select,
    input {
      border-radius: 100px;
      background-color: $text_color_white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: $text_color_black;
      padding: 20px 24px;
      max-height: 64px;
      width: calc(calc(100% / 3) - 15px);
      margin-bottom: 32px;
      border: none;
      outline: none;
      &::placeholder {
        color: $text_color_black;
      }
    }
    textarea {
      width: 100%;
      padding: 20px 24px;
      border-radius: 24px;
      border: none;
      outline: none;
      margin-bottom: 32px;
      &::placeholder {
        color: $text_color_black;
      }
    }
  }
}

.submit-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 60px;
  color: $background__blue;
  background-color: $yellow_button_color;
  border-radius: 100px;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 133%;
  border: none;
  outline: none;
}

.form-caption {
  display: block;
  margin-top: 22px;
  color: $text_color_white;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%;

  a {
    font-weight: 600;
    color: $text_color_white;
  }
}

.modal-callback {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.call-form {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background__blue;
  padding: 30px;

  .form-header {
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 141%;
    text-transform: uppercase;
    color: $text_color_white;
    margin-bottom: 20px;
  }

  input {
    border-radius: 100px;
    background-color: $text_color_white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: $text_color_black;
    padding: 20px 24px;
    max-height: 64px;
    width: 100%;
    margin-bottom: 32px;
    border: none;
    outline: none;
    &::placeholder {
      color: $text_color_black;
    }
  }
}
